default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\Tests\oe_editorial\Behat\ContentLockContext
        - Drupal\Tests\oe_editorial\Behat\FeatureContext
        - OpenEuropa\Behat\TransformationContext:
            elements:
              guidelines: 'div.filter-guidelines'
            pages:
              demo content creation: 'node/add/oe_workflow_demo'
              content administration: 'admin/content'
              rich text help: 'filter/tips/rich_text'
              simple rich text help: 'filter/tips/simple_rich_text'
        - Drupal\Tests\oe_editorial\Behat\TextFormatContext
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      ajax_timeout: 10
      browser_name: 'chrome'
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities:
          browser: chrome
          nativeEvents: true
          marionette: true
          browserName: chrome
          version: '*'
          extra_capabilities:
            chromeOptions:
              w3c: false
              args:
                - '--no-sandbox'
                - '--start-maximized'
                - '--disable-gpu'
                - '--window-size=1440,900'
                - '--disable-dev-shm-usage'
                - '--disable-setuid-sandbox'
                - '--disable-web-security'
                - '--DNS-prefetch-disable'
                - '--disable-translate'
                - '--ignore-certificate-errors'
                - '--test-type'
                - '--disable-extensions'
                - '--incognito'
                - '--disable-infobars'
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
  formatters:
    progress: ~
