default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\Tests\oe_editorial\Behat\FeatureContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              demo content creation: 'node/add/oe_workflow_demo'
              content administration: 'admin/content'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      browser_name: 'chrome'
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities: { "browser": "chrome", "version": "*" }
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
  formatters:
    progress: ~
